@tailwind base;
@tailwind components;
@tailwind utilities;


.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .font-bold {
    font-weight: 700;
  }


  @keyframes aiPulse {
    0%, 100% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(2) rotate(10deg); /* Slight scale and rotation */
    }
  }
  
  .animate-ai-pulse {
    animation: aiPulse 1.2s infinite ease-in-out; /* Smooth pulsing with rotation */
  }